{% extends "layout.html" %} {% block content %}

<table class="table" id="groupList">
    <thead>
        <tr>
            <th>StudentID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Group</th>
            <th>PriorProgrammingExperience</th>
            <th>PriorSTEMDegree</th>
            <th>Gender</th>
        </tr>
    </thead>
    
    <tbody>

    {% for user in students|sort(attribute='group') %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.group}}</td>
            <td>{{user.priorProgExp}}</td>
            <td>{{user.priorSTEMDegree}}</td> 
            <td>{{user.gender}}</td>
        </tr>
                
     {% endfor %}
    </tbody>
</table>

{% endblock content %}