{% extends "layout.html" %} {% block content %}

<style>
    #welcome{
        background:#2eaf7d;
        color: white;
        border-radius: 1em;
        padding: 1em;
        margin:20px; 
        position:absolute;
        top:50%; 
        left:50%; 
        margin-right: -50%;
        transform:translate(-50%, -50%)
    }
    .messagebox{
        box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    }
</style>

<div id="welcome" class=messagebox>
<p>** Welcome to Team Q Group Allocation Site! **</p>

<p>Please <em><a href="{{ url_for('login') }}">Login</a></em>
or <em><a href="{{ url_for('register') }}">Resigter</a></em> first.
</p> 

<p>📝  Fill out the Group Allocation Questionnaire <em><a href="{{ url_for('questionnaire') }}">Here</a></em> </p>

<p>🔍  View the group allocation results <em><a href="{{ url_for('groups') }}">Here</a></em></p>

</div>


{% endblock content %}